doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Mao Flower
    link(rel='stylesheet' href='public/css/style.css')
  
    //- link(rel="stylesheet" href="public/js/WOW-master/css/libs/animate.css")
    //- <!-- slick css -->
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    //- <!-- slick theme css -->
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")

body 
    //- header開始
    header
        .row.align-items.container
            .logo
                a(href="index.html") 
                    img.img-fluid(src="public/images/logo.png", alt="Mao Flower")
            nav
                ul 
                    li 
                        a#nav-intro(href="javascript:;") 關於Mao 
                    li 
                        a#nav-service(href="javascript:;") 服務項目
                    li 
                        a#nav-gift(href="javascript:;") 作品展示
                    li
                        a#nav-concact(href="javascript:;") 聯絡我們 
    //- header結束

    #banner.container
        img.img-fluid(src="public/images/banner01.png", alt="")
        img.img-fluid(src="public/images/banner02.png", alt="")


    section#about-mao.container.section-1
        .row
            .col-12.col-md0-6.margin0
                .box01-left
                    img.img-fluid(src="public/images/about.png", alt="")
            .col-12.col-md0-6.margin0
                .box01-right
                    p Mao Flower 源於一個嘗試乾燥花手作的社會新鮮人。
                    p 雖然不太確定未來，<br>但先做花花再說吧！
                    p 希望你們也能夠被花花療癒。


    #service-section.container 
        .row.space-between
            .col-12.col-md-12
                .img-flex.title
                    img.img-fluid(src="public/images/title02.png", alt="")
                .title
            .col-12.col-md-4 
                .img-overlay
                    a.img-flex(href="#gift-section")
                        .img-wrap
                            img.img-fluid(src="public/images/service01.png", alt="")
                            span 客製花禮
                    p.text-center 生日禮物 | 畢業禮物
            .col-12.col-md-4 
                .img-overlay
                    a.img-flex(href="#flower-section")
                        .img-wrap
                            img.img-fluid(src="public/images/service02.png", alt="")
                            span 設計花束
                    p.text-center 永生花束 | 永生花盆
            .col-12.col-md-4 
                .img-overlay
                    a.img-flex(href="#course-section")
                        .img-wrap
                            img.img-fluid(src="public/images/service03.png", alt="")
                            span 花藝課程
                    p.text-center 小班教學 | 生活花藝


    #gift-section.container 
        .col-12.col-md-12
            .img-flex
                img.img-fluid(src="public/images/title04.png", alt="")
        .gift-img-wrap
            //- .slick-prev
            //-     //- img(src="public/images/arrow-left.png", alt="")
            .list
                a(href='#gift1')
                    img.img-fluid(src='public/images/gift01.png')
                a(href='#gift02')
                    img.img-fluid(src='public/images/gift02.png')
                a(href='#gift06')
                    img.img-fluid(src='public/images/gift06.png')
                a(href='#gift04')
                    img.img-fluid(src='public/images/gift04.png')
                a(href='#gift03')
                    img.img-fluid(src='public/images/gift03.png')
                a(href='#gift05')
                    img.img-fluid(src='public/images/gift05.png')
            a#gift1.lightbox(href='#gift-section')
                img.img-fluid(src='public/images/gift01.png')
            a#gift02.lightbox(href='#gift-section')
                img.img-fluid(src='public/images/gift02.png')
            a#gift06.lightbox(href='#gift-section')
                img.img-fluid(src='public/images/gift06.png')
            a#gift04.lightbox(href='#gift-section')
                img.img-fluid(src='public/images/gift04.png')
            a#gift03.lightbox(href='#gift-section')
                img.img-fluid(src='public/images/gift03.png')
            a#gift05.lightbox(href='#gift-section')
                img.img-fluid(src='public/images/gift05.png')
            //- .slick-next
            //-     //- img(src="public/images/arrow-right.png", alt="")


    #flower-section.container 
        .col-12.col-md-12
            .img-flex
                img.img-fluid(src="public/images/title03.png", alt="")
        .gift-img-wrap
            //- .arrow-left 
                img(src="public/images/arrow-left.png", alt="")
            .list
                a(href='#flower01')
                    img.img-fluid(src='public/images/flower01.png')
                a(href='#flower02')
                    img.img-fluid(src='public/images/flower02.png')
                a(href='#flower06')
                    img.img-fluid(src='public/images/flower06.png')
                a(href='#flower04')
                    img.img-fluid(src='public/images/flower04.png')
                a(href='#flower03')
                    img.img-fluid(src='public/images/flower03.png')
                a(href='#flower05')
                    img.img-fluid(src='public/images/flower05.png')
            a#flower01.lightbox(href='#flower-section')
                img.img-fluid(src='public/images/flower01.png')
            a#flower02.lightbox(href='#flower-section')
                img.img-fluid(src='public/images/flower02.png')
            a#flower06.lightbox(href='#flower-section')
                img.img-fluid(src='public/images/flower06.png')
            a#flower04.lightbox(href='#flower-section')
                img.img-fluid(src='public/images/flower04.png')
            a#flower03.lightbox(href='#flower-section')
                img.img-fluid(src='public/images/flower03.png')
            a#flower05.lightbox(href='#flower-section')
                img.img-fluid(src='public/images/flower05.png')
            //- .arrow-right
                img(src="public/images/arrow-right.png", alt="")

    #course-section.container 
        .col-12.col-md-12
            .img-flex
                img.img-fluid(src="public/images/title05.png", alt="")
        .row.space-between
            .col-6.col-md-3
                a.img-flex(href='#course01')
                    img.img-fluid(src='public/images/course01.png')
            .col-6.col-md-3
                a.img-flex(href='#course02')
                    img.img-fluid(src='public/images/course02.png')
            .col-6.col-md-3
                a.img-flex(href='#course03')
                    img.img-fluid(src='public/images/course03.png')
            .col-6.col-md-3
                a.img-flex(href='#course04')
                    img.img-fluid(src='public/images/course04.png')
        
        a#course01.lightbox-course(href='#course-section')
            .course-warp
                img(src='public/images/course01.png')
                .course-conent
                    h2 乾燥花DIY
                    p 自己動手做乾燥花不求人，四種簡單的乾燥花作法教學，以及製作時的注意事項，讓花朵能夠長久陪伴你。
        a#course02.lightbox-course(href='#course-section')
            .course-warp
                img(src='public/images/course02.png')
                .course-conent
                    h2 零基礎花束入門
                    p 基礎花束包裝．為自己手綁的花束穿上優雅的衣裳吧！基礎花束包裝課程非常適合初學者、沒有花束包裝經驗的同學喔。
        a#course03.lightbox-course(href='#course-section')
            .course-warp
                img(src='public/images/course03.png')
                .course-conent
                    h2 永生花香氛蠟燭
                    p 同時學會香氛蠟燭的製作技巧及永生花藝設計的二合一課程，自己做一棵獨一無二的蠟燭樹吧！
        a#course04.lightbox-course(href='#course-section')
            .course-warp
                img(src='public/images/course04.png')
                .course-conent
                    h2 永生花浮游瓶
                    p 想要讓美美的花朵能在瓶中呈現美麗鮮豔的顏色嗎？透過將永生花與乾燥花相結合，最後加入礦物油保存液，讓美麗的花朵呈現鮮豔透亮的顏色。

    #concact-section.container
        .col-12.col-md-6.margin0
            form(action="dashboard.html") 
                .form
                    h2 立即預約
                    .input-group
                        .label
                            label(type='text') 姓名
                        .input
                            input(type='text')
                    .input-group
                        .label
                            label(type='email') 電子郵件
                        .input
                            input(type='email')
                    .input-group
                        .label
                            label(type='text') 電話
                        .input
                            input(type='text')
                    .input-group
                        .label
                            label(type='date') 時間
                        .input
                            input(type='date')
                    .select-group
                        .input-group
                            .label
                                label(type='date') 人數
                            select(name="num") 
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                                option(value='4') 4
                                option(value='5') 5
                                option(value='6') 6
                        .input-group
                            .label
                                label(type='date') 課程
                            select(name="num") 
                                option(value='DIY') 乾燥花DIY
                                option(value='花束') 零基礎花束入門
                                option(value='蠟燭') 永生花香氛蠟燭
                                option(value='浮游瓶') 永生花浮游瓶
                        .submit
                            input.button(type='submit' value='送出')


        // 頁尾開始
    footer
        .container
            .row
                .col-12.col-md-12
                    img(src="public/images/logo.png", alt="Mao Flower")
                dl.col-12.col-md-4
                    dt 
                        dd 
                            p Copyright © 2022 Mao Flower
                        dd 
                            p 僅做為練習使用，不做任何商業行為。
                dl.col-12.col-md-4
                    dt 
                        dd 
                            p 地址：新北市淡水區毛毛路
                        dd 
                            p 信箱：MaoFloewr@gmail.com
                dl.col-12.col-md-4
                    dt 
                        dd 
                            a(href="#") 
                                img(src="public/images/fb.png", alt="")
                            a(href="#") 
                                img(src="public/images/ig.png", alt="")
                            a(href="#") 
                                img(src="public/images/line.png", alt="")
                        dd 
                            a(href="#") 條款與細則
                        dd 
                            a(href="#") 隱私權政策

    a.page-top(href="javascript:;")
        img(src="public/images/up.png", alt="")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="public/js/index.js") 