doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Mao Flower
    link(rel='stylesheet' href='public/css/style.css')
  
    //- link(rel="stylesheet" href="public/js/WOW-master/css/libs/animate.css")
    //- <!-- slick css -->
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    //- <!-- slick theme css -->
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")

body 
    //- header開始
    header.container
        .row.align-items
            .logo
                a(href="index.html") 
                    img.img-fluid(src="public/images/logo.png", alt="Mao Flower")
            nav
                ul 
                    li 
                        a(href="") 關於Mao 
                    li 
                        a(href="") 服務項目
                    li 
                        a(href="") 作品展示
                    li
                        a(href="") 聯絡我們 
    //- header結束

    #banner.container
        img.img-fluid(src="public/images/banner01.png", alt="")
        img.img-fluid(src="public/images/banner02.png", alt="")


    section.container
        .row
            .col-12.col-md0-6.margin0
                .box01-left
                    img.img-fluid(src="public/images/about.png", alt="")
            .col-12.col-md0-6.margin0
                .box01-right
                    p Mao Flower 源於一個嘗試乾燥花手作的社會新鮮人。
                    p 雖然不太確定未來，<br>但先做花花再說吧！
                    p 希望你們也能夠被花花療癒。


    .service-section.container 
        .row.space-between
            .col-12.col-md-12
                .img-flex.title
                    img.img-fluid(src="public/images/title02.png", alt="")
                .title
            .col-12.col-md-4 
                .img-overlay
                    a.img-flex(href="")
                        .img-wrap
                            img.img-fluid(src="public/images/service01.png", alt="")
                            span 客製花禮
                    p.text-center 生日禮物 | 畢業禮物
            .col-12.col-md-4 
                .img-overlay
                    a.img-flex(href="")
                        .img-wrap
                            img.img-fluid(src="public/images/service02.png", alt="")
                            span 設計花束
                    p.text-center 永生花束 | 永生花盆
            .col-12.col-md-4 
                .img-overlay
                    a.img-flex(href="")
                        .img-wrap
                            img.img-fluid(src="public/images/service03.png", alt="")
                            span 花藝課程
                    p.text-center 小班教學 | 生活花藝


    #gift-section.container 
        .col-12.col-md-12
            .img-flex
                img.img-fluid(src="public/images/title04.png", alt="")
        .gift-img-wrap
            .arrow-left 
                img(src="public/images/arrow-left.png", alt="")
            .list
                a(href='#gift1')
                    img(src='public/images/gift01.png')
                a(href='#gift02')
                    img(src='public/images/gift02.png')
                a(href='#gift06')
                    img(src='public/images/gift06.png')
                a(href='#gift04')
                    img(src='public/images/gift04.png')
                a(href='#gift03')
                    img(src='public/images/gift03.png')
                a(href='#gift05')
                    img(src='public/images/gift05.png')
            a#gift1.lightbox(href='#gift-section')
                img(src='public/images/gift01.png')
            a#gift02.lightbox(href='#gift-section')
                img(src='public/images/gift02.png')
            a#gift06.lightbox(href='#gift-section')
                img(src='public/images/gift06.png')
            a#gift04.lightbox(href='#gift-section')
                img(src='public/images/gift04.png')
            a#gift03.lightbox(href='#gift-section')
                img(src='public/images/gift03.png')
            a#gift05.lightbox(href='#gift-section')
                img(src='public/images/gift05.png')
            .arrow-right
                img(src="public/images/arrow-right.png", alt="")


    #flower-section.container 
        .col-12.col-md-12
            .img-flex
                img.img-fluid(src="public/images/title03.png", alt="")
        .gift-img-wrap
            .arrow-left 
                img(src="public/images/arrow-left.png", alt="")
            .list
                a(href='#flower01')
                    img(src='public/images/flower01.png')
                a(href='#flower02')
                    img(src='public/images/flower02.png')
                a(href='#flower06')
                    img(src='public/images/flower06.png')
                a(href='#flower04l')
                    img(src='public/images/flower04.png')
                a(href='#flower03')
                    img(src='public/images/flower03.png')
                a(href='#flower05')
                    img(src='public/images/flower05.png')
            a#flower01.lightbox(href='#flower-section')
                img(src='public/images/flower01.png')
            a#flower02.lightbox(href='#flower-section')
                img(src='public/images/flower02.png')
            a#flower06.lightbox(href='#flower-section')
                img(src='public/images/flower06.png')
            a#flower04.lightbox(href='#flower-section')
                img(src='public/images/flower04.png')
            a#flower03.lightbox(href='#flower-section')
                img(src='public/images/flower03.png')
            a#flower05.lightbox(href='#flower-section')
                img(src='public/images/flower05.png')
            .arrow-right
                img(src="public/images/arrow-right.png", alt="")

    #course-section.container 
        .col-12.col-md-12
            .img-flex
                img.img-fluid(src="public/images/title05.png", alt="")
        .list
            a(href='#course01')
                img(src='public/images/course01.png')
            a(href='#course02')
                img(src='public/images/course02.png')
            a(href='#course03')
                img(src='public/images/course03.png')
            a(href='#course04')
                img(src='public/images/course04.png')

        a#course01.lightbox(href='#course-section')
            img(src='public/images/course01.png')
            p 先打假字，不知道要介紹什麼
        a#course02.lightbox(href='#course-section')
            img(src='public/images/course02.png')
            p 先打假字，不知道要介紹什麼
        a#course03.lightbox(href='#course-section')
            img(src='public/images/course03.png')
            p 先打假字，不知道要介紹什麼
        a#course04.lightbox(href='#course-section')
            img(src='public/images/course04.png')
            p 先打假字，不知道要介紹什麼



        

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="public/js/index.js") 